<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443121475520-6r3cp30ndb432fj8m0b425v1hna25qrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443121475520-6r3cp30ndb432fj8m0b425v1hna25qrs</string>
	<key>API_KEY</key>
	<string>AIzaSyDNT4Z76R9bNeCtyLG8P6-qxzDyLSvnAe8</string>
	<key>GCM_SENDER_ID</key>
	<string>443121475520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>none.meet2guide</string>
	<key>PROJECT_ID</key>
	<string>meet2guide-bd624</string>
	<key>STORAGE_BUCKET</key>
	<string>meet2guide-bd624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443121475520:ios:9fb6345265271b9afff225</string>
</dict>
</plist>