<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60879718045-9km4ff468cc4be0msvsarb00elu2ark9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60879718045-9km4ff468cc4be0msvsarb00elu2ark9</string>
	<key>API_KEY</key>
	<string>AIzaSyCiZvhtppMSFI6DWRv8FrfkHYEm7VOWn3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>60879718045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>none.meet2guide</string>
	<key>PROJECT_ID</key>
	<string>meet2guide-1b47e</string>
	<key>STORAGE_BUCKET</key>
	<string>meet2guide-1b47e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60879718045:ios:86e81ad78556512966b674</string>
</dict>
</plist>